# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production build
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env
.env*.local
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Operating System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
